name: Deploy to Render

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build Maven Project
        run: mvn -q -DskipTests package

      - name: Trigger Render Deploy
        run: |
          echo "Triggering deployment on Render..."
          curl -X POST "https://api.render.com/deploy/srv-d4kg4dje5dus73f7671g?key=XNorPk7JxbU"
